__pycache__/app.cpython-310.pyc
routes/__pycache__/api.cpython-310.pyc
routes/__pycache__/clients.cpython-310.pyc
.gitignore
utils/config.py
utils/__pycache__/config.cpython-310.pyc
routes/__pycache__/api.cpython-310.pyc
